* {
  box-sizing: border-box;
  // font-family: "Open Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
}

.layout-container .el-container > .el-header {
  position: fixed;
  // background-color: #ffffff;
  border-bottom: solid 1px var(--el-menu-border-color);
  width: 100%;
  z-index: 100;
}

.layout-container .el-aside {
  position: fixed;
  // background-color: #ffffff;
  border-right: solid 1px var(--el-menu-border-color);
  height: 100vh;
  z-index: 101;

  & .el-menu {
    border-right: none;
  }

  & .el-menu-item .router-link-aside {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
}

.layout-container .el-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 200px;
}

.layout-container .el-main .el-scrollbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.layout-container .header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}

.description-card {
  color: grey;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

// .material-icons {
//   vertical-align: middle;
//   font-size: 20px;
//   margin-right: 8px;
// }