$header-height: 70px;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
}

.app-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-left: 25px;
  height: $header-height;
}

.layout-container .el-container > .el-header {
  position: fixed;
  border-bottom: solid 1px var(--el-menu-border-color);
  width: 100%;
  z-index: 100;
}

.layout-container .el-aside {
  position: fixed;
  border-right: solid 1px var(--el-menu-border-color);
  height: 100vh;
  z-index: 101;

  & .el-menu {
    border-right: none;
  }

  & .el-menu-item .router-link-aside {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
}

.layout-container .el-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-left: 200px;
}

.layout-container .el-main .el-scrollbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

.layout-container .header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}

.description-card {
  color: grey;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.layout-container .authentication-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.blurred-header {
  background-color: rgba(255, 255, 255, 0.1);
  height: $header-height;
  text-align: right;
  font-size: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.5s ease;
  position: sticky;
  top: 0;
  z-index: 10;
}

html.dark .blurred-header {
  background-color: rgba(20, 20, 20, 0.1);
}